<div class="content">
  <div class="row">
    <div class="col-12 col-md-4">
      <img [src]="characterImage"  class="img-fluid mb-3" appImgFallBack>
    </div>
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body" *ngIf="character">
              <h3 class="card-title">{{character.name}}</h3>
              <h6 class="card-subtitle mb-2 text-muted">from <a [routerLink]="[character.homeworld.url]">{{character.homeworld.name}}</a></h6>
              <p *ngIf="character.species[0]"><strong>Specie</strong>: {{ character.species[0].name | titlecase }}</p>
              <p><strong>Height</strong>: {{ character.height | titlecase }}</p>
              <p><strong>Mass</strong>: {{ character.mass | titlecase }}</p>
              <p><strong>Hair Color</strong>: {{ character.hair_color | titlecase }}</p>
              <p><strong>Skin Color</strong>: {{ character.skin_color | titlecase }}</p>
              <p><strong>Eye Color</strong>: {{ character.eye_color | titlecase }}</p>
              <p><strong>Birth Year</strong>: {{ character.birth_year | uppercase }}</p>
              <p><strong>Gender</strong>: {{ character.gender | titlecase }}</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" *ngIf="character.films[0]">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Related Films</h5>
              <a class="d-block" *ngFor="let film of character.films" [routerLink]="[film.url]">{{ film.title }}</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" *ngIf="character.starships[0]">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Related Starships</h5>
              <a class="d-block" *ngFor="let starship of character.starships" [routerLink]="[starship.url]">{{ starship.name }}</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" *ngIf="character.vehicles[0]">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Related Vehicles</h5>
              <a class="d-block" *ngFor="let vehicle of character.vehicles" [routerLink]="[vehicle.url]">{{ vehicle.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>