<div class="content">
    <div class="row">
        <div class="col-12 col-md-5">
            <img [src]="characterImage" [alt]="character.name" class="img-fluid">
        </div>
        <div class="col-12 col-md-7">
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title">{{character.name}}</h3>
                  <h6 class="card-subtitle mb-2 text-muted">from <a href="#">{{character.homeworld.name}}</a></h6>
                  <p><strong>Name</strong>: {{ character.name }}</p>
                  <p><strong>Height</strong>: {{ character.height }}</p>
                  <p><strong>Mass</strong>: {{ character.mass }}</p>
                  <p><strong>Hair Color</strong>: {{ character.hair_color }}</p>
                  <p><strong>Skin Color</strong>: {{ character.skin_color }}</p>
                  <p><strong>Eye Color</strong>: {{ character.eye_color }}</p>
                  <p><strong>Birth Year</strong>: {{ character.birth_year }}</p>
                  <p><strong>Gender</strong>: {{ character.gender }}</p>
                </div>
              </div>
        </div>
    </div>
</div>