<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle d-inline">
        <button class="navbar-toggler" type="button" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"> </span>
          <span class="navbar-toggler-bar bar2"> </span>
          <span class="navbar-toggler-bar bar3"> </span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)"> {{ getTitle() }} </a>
    </div>
    <button aria-label="Toggle navigation" class="navbar-toggler" (click)="collapse()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" id="navigation" type="button">
      <span class="navbar-toggler-bar navbar-kebab"> </span>
      <span class="navbar-toggler-bar navbar-kebab"> </span>
      <span class="navbar-toggler-bar navbar-kebab"> </span>
    </button>
    <div class="navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-flex align-items-center">
          <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
            <label class="m-0 btn btn-sm btn-info btn-simple" (click)="changeColors('blue','white-content')">
              <input checked="checked" name="options" type="radio" />

              <span>
                LIGHT SIDE
              </span>
            </label>
            <label class="m-0 btn btn-sm btn-danger btn-simple active" (click)="changeColors('red','black-content')">
              <input class="d-none" name="options" type="radio" />

              <span>
                DARK SIDE
              </span>
            </label>
          </div>
          <!-- <div (click)="changeSidebarColor('blue');changeDashboardColor('white-content')" class="mode-label"> LIGHT SIDE </div>
          <div (click)="changeSidebarColor('red');changeDashboardColor('black-content')" class="mode-label"> DARK SIDE </div> -->
        </li>
        <li class="separator d-lg-none"></li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <input class="form-control" id="inlineFormInputGroup" placeholder="SEARCH" type="text" />

    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="modal.dismiss('Cross click')">
      <i class="tim-icons icon-simple-remove"> </i>
    </button>
  </div>

</ng-template>