<div class="content">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3" *ngFor="let character of characters">
            <a class="card bg-dark" [routerLink]="[character.path]">
                <img class="card-img-top" [src]="'./assets/img/characters/' + character.id + '.jpg'" alt="Card image" appImgFallBack/>
                <div class="card-body">
                    <h3 class="card-title">{{ character.name }}</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="row" *ngIf="totalPages && totalPages > 1">
        <div class="col-12">
            <app-pagination [totalPages]="totalPages" [actualPage]="actualPage" (moveToPage)="getCharactersInPage($event)"></app-pagination>
        </div>
    </div>
</div>